{
  "version": 1,
  "minor_version": 1,
  "key": "core.config",
  "data": {
    "latitude": 56.1604,
    "longitude": 13.7687,
    "elevation": 0,
    "unit_system": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Stockholm",
    "external_url": null,
    "internal_url": null,
    "currency": "SEK"
  }
}